hr {
  width: 75px;
  margin: 0.5rem 0;
  border-top: 3px solid #ffffff;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1); }

h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #555555;
  font-weight: bold;
  text-shadow: 1px 1px #cccccc; }

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #555555;
  font-weight: bold; }

button {
  margin: 10px; }

a:hover {
  color: #3BAAFE; }

* {
  font-size: 10px; }

nav.navbar.navbar-dark.bg-dark {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10; }
  nav.navbar.navbar-dark.bg-dark .navbar-brand {
    margin-right: 70px !important; }
  nav.navbar.navbar-dark.bg-dark .collapse.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    font-size: 1.4rem; }
  nav.navbar.navbar-dark.bg-dark .collapse.navbar-collapse ul.navbar-nav li.nav-item.active a.nav-link {
    border-bottom: 2px solid #3BAAFE; }
  nav.navbar.navbar-dark.bg-dark .collapse.navbar-collapse .lang a {
    color: #f0f0f0;
    margin-right: 10px;
    width: 25px;
    font-size: 1.6rem; }
    nav.navbar.navbar-dark.bg-dark .collapse.navbar-collapse .lang a:hover {
      font-weight: bolder;
      text-decoration: none; }
    nav.navbar.navbar-dark.bg-dark .collapse.navbar-collapse .lang a.active {
      color: lightskyblue;
      font-weight: bolder; }

header.container-fluid {
  position: relative;
  margin: 0;
  padding: 40px 0 !important;
  background-color: #202020;
  background-image: url(../img/field_image_istock-516189065.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: 100%; }
  header.container-fluid img {
    display: block;
    width: 25%;
    margin: auto;
    position: relative;
    z-index: 1; }
    header.container-fluid img.hand {
      width: 15%;
      top: -50px;
      left: -30px;
      z-index: 0; }
  header.container-fluid h1 {
    position: absolute;
    top: 150px;
    right: 60px;
    width: 400px;
    color: #ccc;
    text-align: right;
    font-size: 4rem; }

main p {
  font-size: 1.4rem;
  color: #999999; }

main .bg-light {
  background-color: #f0f0f0 !important; }

main section.container-fluid {
  padding: 120px 0 85px;
  background-color: #fff; }
  main section.container-fluid .container.row {
    margin: auto; }
    main section.container-fluid .container.row article {
      position: relative;
      padding: 55px 30px  25px; }
      main section.container-fluid .container.row article header {
        margin-bottom: 20px;
        width: auto; }
      main section.container-fluid .container.row article .icon {
        width: 70px;
        height: 70px;
        padding: 16px;
        border: 5px solid #ffffff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: #555555;
        position: absolute;
        top: -30px;
        left: 26px;
        text-align: center; }
        main section.container-fluid .container.row article .icon img {
          height: 28px; }
      main section.container-fluid .container.row article:hover .icon {
        background-color: #3BAAFE; }
  main section.container-fluid#why_us article {
    padding: 60px 40px; }
    main section.container-fluid#why_us article header {
      margin-bottom: 40px; }
      main section.container-fluid#why_us article header h2 {
        font-size: 2.4rem;
        color: #ffffff;
        text-transform: uppercase;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
    main section.container-fluid#why_us article .body .row {
      margin: 45px 0 0; }
      main section.container-fluid#why_us article .body .row .row {
        margin: 0 0 30px; }
        main section.container-fluid#why_us article .body .row .row:nth-child(odd) {
          margin-left: -15px;
          margin-right: 15px; }
        main section.container-fluid#why_us article .body .row .row .icon {
          background-color: #fff;
          width: 100%;
          height: auto;
          padding: 15px; }
          main section.container-fluid#why_us article .body .row .row .icon img {
            width: 100%; }
        main section.container-fluid#why_us article .body .row .row h3 {
          margin-bottom: 10px; }
    main section.container-fluid#why_us article:hover hr {
      border-top: 3px solid #3BAAFE; }
  main section.container-fluid#what_we_do {
    padding: 75px 0; }
    main section.container-fluid#what_we_do .container header {
      margin-bottom: 75px; }
      main section.container-fluid#what_we_do .container header h2 {
        margin-bottom: 15px;
        text-align: center; }
      main section.container-fluid#what_we_do .container header hr {
        margin: auto; }
    main section.container-fluid#what_we_do .container .body.row article {
      margin-bottom: 30px; }
      main section.container-fluid#what_we_do .container .body.row article header {
        margin-bottom: 10px; }
        main section.container-fluid#what_we_do .container .body.row article header .icon {
          display: inline-block;
          background-color: #555555;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          margin-right: 15px;
          padding: 12px; }
          main section.container-fluid#what_we_do .container .body.row article header .icon img {
            width: 100%; }
        main section.container-fluid#what_we_do .container .body.row article header h3 {
          display: inline-block; }
      main section.container-fluid#what_we_do .container .body.row article:hover header .icon {
        background-color: #3BAAFE; }
      main section.container-fluid#what_we_do .container .body.row article:hover header h3 {
        color: #000000; }
    main section.container-fluid#what_we_do:hover .container header h2 {
      color: #3BAAFE; }
    main section.container-fluid#what_we_do:hover .container header hr {
      border-top: 3px solid #3BAAFE; }
  main section.container-fluid#how_we_work {
    padding: 85px 0; }
    main section.container-fluid#how_we_work .container .wrap {
      background-color: #e0e0e0;
      width: 75%;
      padding: 45px 40px; }
      main section.container-fluid#how_we_work .container .wrap header {
        margin-bottom: 25px; }
      main section.container-fluid#how_we_work .container .wrap .body ul {
        margin: 30px 0 0;
        padding: 0;
        list-style-type: none; }
        main section.container-fluid#how_we_work .container .wrap .body ul li {
          vertical-align: middle;
          margin: 0; }
          main section.container-fluid#how_we_work .container .wrap .body ul li::before {
            content: '\2713';
            font-size: 2rem;
            font-weight: 900;
            width: 36px;
            height: 36px;
            padding: 3px 10px;
            margin-right: 10px;
            border-radius: 50%;
            background-color: #fff;
            color: #000000; }
          main section.container-fluid#how_we_work .container .wrap .body ul li h3 {
            height: 36px;
            line-height: 36px; }
          main section.container-fluid#how_we_work .container .wrap .body ul li p {
            margin-left: 46px; }
          main section.container-fluid#how_we_work .container .wrap .body ul li:hover::before {
            background-color: #3BAAFE;
            color: #ffffff; }
          main section.container-fluid#how_we_work .container .wrap .body ul li:hover h3 {
            color: #3BAAFE; }
      main section.container-fluid#how_we_work .container .wrap:hover header h2 {
        color: #3BAAFE; }
      main section.container-fluid#how_we_work .container .wrap:hover header hr {
        border-top: 3px solid #3BAAFE; }
  main section.container-fluid#our_team .container header {
    margin-bottom: 115px; }
    main section.container-fluid#our_team .container header h2 {
      color: #3BAAFE !important; }
  main section.container-fluid#our_team .container .body.row article.member_of_team {
    position: relative;
    background-color: #e0e0e0;
    padding: 20px 30px;
    margin: 30px 10px; }
    main section.container-fluid#our_team .container .body.row article.member_of_team .img {
      width: 155px;
      height: 180px;
      position: absolute;
      top: -30px;
      left: 25px;
      z-index: 5;
      border: 10px solid #a0a0a0; }
      main section.container-fluid#our_team .container .body.row article.member_of_team .img img.person {
        width: 100%;
        height: 100%;
        background-color: #b0b0b0; }
      main section.container-fluid#our_team .container .body.row article.member_of_team .img p {
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
    main section.container-fluid#our_team .container .body.row article.member_of_team .social {
      width: 155px;
      height: 155px;
      position: absolute;
      top: 155px;
      margin-top: 5px; }
      main section.container-fluid#our_team .container .body.row article.member_of_team .social a {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        padding: 10px 15px;
        margin-left: 5px;
        -webkit-box-shadow: 2px 2px #a0a0a0;
        box-shadow: 2px 2px #a0a0a0; }
        main section.container-fluid#our_team .container .body.row article.member_of_team .social a img {
          height: 100%; }
        main section.container-fluid#our_team .container .body.row article.member_of_team .social a.twitter-link {
          padding: 10px; }
        main section.container-fluid#our_team .container .body.row article.member_of_team .social a.google-plus-link {
          padding: 10px 12px; }
    main section.container-fluid#our_team .container .body.row article.member_of_team .card_info {
      padding-left: 150px; }
      main section.container-fluid#our_team .container .body.row article.member_of_team .card_info .name {
        background-color: #fff;
        display: inline-block;
        width: auto;
        padding: 5px 25px 10px;
        -webkit-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        transform: skewX(-15deg);
        position: relative;
        left: -15px; }
        main section.container-fluid#our_team .container .body.row article.member_of_team .card_info .name h3 {
          color: #3BAAFE;
          -webkit-transform: skewX(15deg);
          -ms-transform: skewX(15deg);
          transform: skewX(15deg);
          font-weight: bold; }
      main section.container-fluid#our_team .container .body.row article.member_of_team .card_info .profession {
        display: inline-block;
        padding: 5px 25px;
        background-color: #a0a0a0;
        -webkit-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        transform: skewX(-20deg);
        width: auto;
        position: relative;
        left: -15px;
        top: -10px;
        z-index: 3; }
        main section.container-fluid#our_team .container .body.row article.member_of_team .card_info .profession h4 {
          display: inline-block;
          width: auto;
          -webkit-transform: skewX(20deg);
          -ms-transform: skewX(20deg);
          transform: skewX(20deg);
          color: #606060;
          text-transform: uppercase;
          font-weight: 700; }
      main section.container-fluid#our_team .container .body.row article.member_of_team .card_info p {
        margin-left: 12px; }
  main section.container-fluid#quality {
    padding: 60px 0;
    background: -webkit-linear-gradient(155deg, #eeeeee 50%, #fafafa 50%);
    background: -o-linear-gradient(155deg, #eeeeee 50%, #fafafa 50%);
    background: linear-gradient(-65deg, #eeeeee 50%, #fafafa 50%); }
    main section.container-fluid#quality .container.row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      main section.container-fluid#quality .container.row .img img.devices {
        width: 100%; }
      main section.container-fluid#quality .container.row header {
        margin-bottom: 20px; }
        main section.container-fluid#quality .container.row header h2 {
          color: #ffffff;
          text-shadow: 1px 1px #cccccc; }
      main section.container-fluid#quality .container.row .body ul {
        margin-left: 0;
        margin-top: 20px;
        padding-left: 50px;
        list-style-type: none; }
        main section.container-fluid#quality .container.row .body ul li {
          display: inline-block;
          position: relative;
          margin-bottom: 25px; }
          main section.container-fluid#quality .container.row .body ul li::before {
            content: url(../img/icon/duble-arrow.png);
            display: inline-block;
            width: 40px;
            height: 40px;
            position: absolute;
            left: -50px; }
          main section.container-fluid#quality .container.row .body ul li:hover::before {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: 0.5s ease-out;
            -o-transition: 0.5s ease-out;
            transition: 0.5s ease-out; }
    main section.container-fluid#quality:hover .container.row header {
      margin-bottom: 20px; }
      main section.container-fluid#quality:hover .container.row header h2 {
        color: #3BAAFE; }
      main section.container-fluid#quality:hover .container.row header hr {
        border-top: 3px solid #3BAAFE; }
    main section.container-fluid#quality:hover .container.row .body ul {
      margin-left: 0;
      margin-top: 20px;
      padding-left: 50px;
      list-style-type: none; }
      main section.container-fluid#quality:hover .container.row .body ul li {
        display: inline-block;
        position: relative;
        margin-bottom: 25px; }
      main section.container-fluid#quality:hover .container.row .body ul li::before {
        content: url(../img/icon/duble-arrow.png);
        display: inline-block;
        position: absolute;
        left: -50px; }
  main section.container-fluid#portfolio {
    background-color: #fff;
    padding: 85px 0; }
    main section.container-fluid#portfolio header {
      width: auto;
      margin: 0 auto 50px;
      text-align: center; }
      main section.container-fluid#portfolio header h2 {
        margin: auto;
        display: inline-block;
        width: auto; }
      main section.container-fluid#portfolio header hr {
        margin: auto; }
    main section.container-fluid#portfolio nav {
      margin-bottom: 50px; }
      main section.container-fluid#portfolio nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        main section.container-fluid#portfolio nav ul li {
          display: block;
          width: auto;
          margin-right: 15px; }
          main section.container-fluid#portfolio nav ul li button.btn-light {
            background-color: #f5f5f5;
            padding: 10px 20px;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: #777777; }
    main section.container-fluid#portfolio .body.container.row div {
      padding: 5px; }
      main section.container-fluid#portfolio .body.container.row div a {
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #7a7878; }
        main section.container-fluid#portfolio .body.container.row div a img {
          width: 100%; }
      main section.container-fluid#portfolio .body.container.row div span {
        display: none;
        top: 30%;
        left: 15%;
        right: 15%;
        color: #3BAAFE;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center; }
      main section.container-fluid#portfolio .body.container.row div:hover a {
        border: 1px solid #3BAAFE; }
      main section.container-fluid#portfolio .body.container.row div:hover span {
        display: block; }
    main section.container-fluid#portfolio:hover header h2 {
      color: #3BAAFE; }
    main section.container-fluid#portfolio:hover header hr {
      border-top: 3px solid #3BAAFE; }
  main section.container-fluid#best_work {
    padding-bottom: 0;
    margin: 0; }
    main section.container-fluid#best_work article {
      padding: 40px 130px 35px 40px;
      background-color: #313030; }
      main section.container-fluid#best_work article header h2 {
        color: #ffffff;
        text-shadow: none; }
      main section.container-fluid#best_work article header hr {
        border-top: 1px solid #ffffff; }
      main section.container-fluid#best_work article:hover header h2 {
        color: #3BAAFE; }
      main section.container-fluid#best_work article:hover header hr {
        border-top: 3px solid #3BAAFE; }
      main section.container-fluid#best_work article .body .row {
        margin-top: 45px; }
        main section.container-fluid#best_work article .body .row div {
          margin-bottom: 25px; }
          main section.container-fluid#best_work article .body .row div h3 img {
            display: inline-block;
            height: 2rem;
            margin-right: 10px; }
          main section.container-fluid#best_work article .body .row div h3 span {
            font-size: 1.4rem;
            text-transform: uppercase;
            color: #ffffff; }
  main section.container-fluid#blog {
    padding: 85px 0 0;
    background-color: #f6f6f6; }
    main section.container-fluid#blog header {
      margin-bottom: 85px; }
    main section.container-fluid#blog:hover header h2 {
      color: #3BAAFE; }
    main section.container-fluid#blog:hover header hr {
      border-top: 3px solid #3BAAFE; }
    main section.container-fluid#blog .body.container .carousel .row {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      overflow: hidden;
      margin-bottom: 15px; }
      main section.container-fluid#blog .body.container .carousel .row div {
        padding: 3px; }
        main section.container-fluid#blog .body.container .carousel .row div article.card {
          width: 100%; }
          main section.container-fluid#blog .body.container .carousel .row div article.card img.card-img-top {
            width: 100%;
            min-height: 150px;
            background-color: #7a7878; }
          main section.container-fluid#blog .body.container .carousel .row div article.card .card-body {
            margin: 8px; }
            main section.container-fluid#blog .body.container .carousel .row div article.card .card-body h4 {
              text-transform: uppercase;
              color: #7a7878;
              font-size: 1.4rem;
              font-weight: bold; }
            main section.container-fluid#blog .body.container .carousel .row div article.card .card-body span {
              color: #7a7878;
              text-transform: uppercase;
              font-size: 1.2rem;
              font-weight: bold; }
            main section.container-fluid#blog .body.container .carousel .row div article.card .card-body a.btn.btn-link {
              font-size: 1.2rem;
              text-transform: uppercase;
              color: #7a7878;
              font-weight: bold; }
              main section.container-fluid#blog .body.container .carousel .row div article.card .card-body a.btn.btn-link:hover {
                color: #3BAAFE;
                text-decoration: none; }
    main section.container-fluid#blog .body.container .btn.btn-secondary {
      padding: 0 0 10px;
      background-color: #7a7878;
      font-size: 1.8rem;
      font-weight: bold;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center; }
      main section.container-fluid#blog .body.container .btn.btn-secondary.next {
        padding-left: 3px; }
      main section.container-fluid#blog .body.container .btn.btn-secondary:hover {
        color: #3BAAFE; }
    main section.container-fluid#blog .body.container .show-blog.row {
      margin-top: 120px; }
      main section.container-fluid#blog .body.container .show-blog.row div {
        padding: 15px 15px 0; }
        main section.container-fluid#blog .body.container .show-blog.row div.quote {
          padding-bottom: 30px; }
        main section.container-fluid#blog .body.container .show-blog.row div img[alt="quote"] {
          display: block;
          width: 64px;
          margin-bottom: 20px; }
        main section.container-fluid#blog .body.container .show-blog.row div blockquote {
          width: 100%;
          margin-bottom: 40px; }
          main section.container-fluid#blog .body.container .show-blog.row div blockquote p {
            background-color: #fff;
            padding: 20px 30px 50px; }
          main section.container-fluid#blog .body.container .show-blog.row div blockquote cite {
            text-align: right;
            color: #7a7878;
            font-style: normal;
            margin-bottom: 40px; }
            main section.container-fluid#blog .body.container .show-blog.row div blockquote cite h3 {
              margin-top: 30px;
              margin-bottom: 10px;
              font-weight: bold;
              font-size: 1.4rem; }
            main section.container-fluid#blog .body.container .show-blog.row div blockquote cite h5 {
              margin-bottom: 10px;
              font-size: 1.2rem; }
            main section.container-fluid#blog .body.container .show-blog.row div blockquote cite h4 {
              font-weight: bold;
              text-transform: uppercase;
              font-size: 1.2rem; }
        main section.container-fluid#blog .body.container .show-blog.row div.photo img {
          width: 100%;
          height: 100%;
          background-color: #7a7878; }
        main section.container-fluid#blog .body.container .show-blog.row div.icons .image {
          width: 130px;
          height: 130px;
          border-radius: 50%;
          background-color: #7a7878; }
  main section.container-fluid#pricing {
    padding: 85px 0; }
    main section.container-fluid#pricing header {
      margin-bottom: 50px;
      text-align: center; }
      main section.container-fluid#pricing header hr {
        margin: auto; }
    main section.container-fluid#pricing:hover header h2 {
      color: #3BAAFE; }
    main section.container-fluid#pricing:hover header hr {
      border-top: 3px solid #3BAAFE; }
    main section.container-fluid#pricing .body.container .row div {
      padding: 15px; }
      main section.container-fluid#pricing .body.container .row div article.price {
        width: 100%; }
        main section.container-fluid#pricing .body.container .row div article.price header {
          background-color: #f6f6f6;
          margin: 0;
          padding: 10px;
          text-transform: uppercase; }
          main section.container-fluid#pricing .body.container .row div article.price header h3 {
            text-transform: uppercase;
            color: #ffffff;
            text-shadow: 1px 1px 2px 2px #7a7878;
            font-weight: bold; }
        main section.container-fluid#pricing .body.container .row div article.price .body {
          padding: 0; }
          main section.container-fluid#pricing .body.container .row div article.price .body h5 {
            background-color: #fafafa;
            font-size: 1.4rem;
            text-transform: uppercase;
            color: #999999;
            margin: 0;
            text-align: center;
            padding: 7px; }
            main section.container-fluid#pricing .body.container .row div article.price .body h5 srong {
              font-size: 3rem;
              font-weight: bold; }
            main section.container-fluid#pricing .body.container .row div article.price .body h5:nth-child(even) {
              background-color: #f5f5f5; }
        main section.container-fluid#pricing .body.container .row div article.price footer {
          padding: 10px;
          background-color: #e6e6e6; }
          main section.container-fluid#pricing .body.container .row div article.price footer h3 {
            color: #7a7878;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold; }
        main section.container-fluid#pricing .body.container .row div article.price:hover header h3 {
          color: #3BAAFE; }
        main section.container-fluid#pricing .body.container .row div article.price:hover footer {
          background-color: #3BAAFE; }
          main section.container-fluid#pricing .body.container .row div article.price:hover footer h3 {
            color: #ffffff; }

footer.container-fluid {
  background-color: #202020;
  color: #cccccc;
  padding: 30px 0 !important; }
  footer.container-fluid .container .row h3 {
    margin-bottom: 20px; }
    footer.container-fluid .container .row h3 i, footer.container-fluid .container .row h3 span {
      font-size: 1.8rem; }
    footer.container-fluid .container .row h3 i {
      display: inline-block;
      margin-right: 10px; }
  footer.container-fluid .container .row h4 {
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 15px; }
  footer.container-fluid .container .row p {
    font-size: 1.4rem;
    color: #999; }
  footer.container-fluid .container .row time {
    font-size: 1.2rem;
    color: darkred; }
  footer.container-fluid .container .row article {
    padding: 0 15px !important; }
    footer.container-fluid .container .row article .post {
      margin: 0 0 15px; }
      footer.container-fluid .container .row article .post img {
        display: block;
        padding-right: 10px !important;
        width: 100%; }
      footer.container-fluid .container .row article .post h4 {
        margin-top: 0; }
      footer.container-fluid .container .row article .post p {
        margin-bottom: 5px; }
      footer.container-fluid .container .row article .post span {
        font-size: 1.2rem; }
    footer.container-fluid .container .row article .accordion .card {
      background: none;
      border-bottom: 1px solid #cccccc; }
      footer.container-fluid .container .row article .accordion .card .card-header h4 {
        margin-top: 5px; }
        footer.container-fluid .container .row article .accordion .card .card-header h4 button {
          color: #cccccc;
          font-size: 1.6rem; }
          footer.container-fluid .container .row article .accordion .card .card-header h4 button:hover {
            font-weight: bold; }
          footer.container-fluid .container .row article .accordion .card .card-header h4 button.btn:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            font-weight: bold; }
      footer.container-fluid .container .row article .accordion .card .collapse p.card-body {
        line-height: 1.1; }
    footer.container-fluid .container .row article form {
      width: 100%; }
      footer.container-fluid .container .row article form input, footer.container-fluid .container .row article form textarea {
        width: 100%;
        padding: 10px !important;
        font-size: 1.4rem;
        margin-bottom: 10px; }
      footer.container-fluid .container .row article form textarea {
        resize: y;
        height: 100px; }
      footer.container-fluid .container .row article form button {
        font-size: 1.6rem;
        padding: 5px 10px !important;
        color: #ccc;
        margin-top: 25px; }
  footer.container-fluid .info.container-fluid {
    margin-top: 30px;
    background-color: #000;
    padding: 15px !important; }
    footer.container-fluid .info.container-fluid .container {
      margin: auto; }
      footer.container-fluid .info.container-fluid .container div {
        font-size: 1.3rem; }
