$active_color: #3BAAFE;

//@mixin hr {
//  width: 75px;
//  margin: 0.5rem 0;
//  border-top: 3px solid #ffffff;
//  box-shadow: 2px 2px 4px 1px rgba(0,0,0,.1);
//}
hr {
  width: 75px;
  margin: 0.5rem 0;
  border-top: 3px solid #ffffff;
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,.1);
}
@mixin hr-hover {
  border-top: 3px solid $active_color;
}
//@mixin h2{
//  font-size: 2.4rem;
//  text-transform: uppercase;
//  color: #555555;
//  font-weight: bold;
//}
h2{
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #555555;
  font-weight: bold;
}
//@mixin h3 {
//  font-size: 1.8rem;
//  text-transform: uppercase;
//  color: #555555;
//  font-weight: bold;
//}

h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #555555;
  font-weight: bold;
}

* {
  font-size: 10px;
}

nav.navbar.navbar-dark.bg-dark {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  .navbar-brand {
    margin-right: 70px !important;
  }

  .collapse.navbar-collapse {
    ul.navbar-nav {
      li.nav-item {
        a.nav-link {
          font-size: 1.4rem;
        }
        &.active {
          a.nav-link {
            border-bottom: 2px solid #3BAAFE;
          }
        }
      }
    }
      .lang {
        a {
          color: #f0f0f0;
          margin-right: 10px;
          width: 25px;
          font-size: 1.6rem;
          &:hover {
            font-weight: bolder;
            text-decoration: none;
          }
          &.active {
            color: lightskyblue;
            font-weight: bolder;
          }
        }
      }

  }
}

header.container-fluid {
  position: relative;
  margin: 0;
  padding: 40px 0 !important;
  background-color: #202020;
  //background-image: url(../img/space.png);
  background-image: url(../img/field_image_istock-516189065.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100%;
  background-size: 100%;
  img {
    display: block;
    width: 25%;
    margin: auto;
    position: relative;
    z-index: 1;
    &.hand {
      width: 15%;
      top: -50px;
      left: -30px;
      z-index: 0;
    }
  }
  h1 {
    position: absolute;
    top: 150px;
    right: 60px;
    width: 400px;
    color: #ccc;
    text-align: right;
    font-size: 4rem;
  }
}

main {
  p {
    font-size: 1.4rem;
    color: #999999;
  }
  .bg-light {
    background-color: #f0f0f0 !important;
  }


  section.container-fluid {
    padding: 120px 0 85px;
    background-color: #fff;
    .container.row {
      margin: auto;
      article {
        position: relative;
        padding: 55px 30px  25px;
        header {
          margin-bottom: 20px;
          width: auto;
          h3 {
            //@include h3;
          }
          hr {
            //@include hr;
          }
        }
        .icon {
          width: 70px;
          height: 70px;
          padding: 16px;
          border: 5px solid #ffffff;
          box-sizing: border-box;
          border-radius: 50%;
          background-color: #555555;
          position: absolute;
          top: -30px;
          left: 26px;
          text-align: center;
          img {
        //    //width: 28px;
            height: 28px;
          }
        }
        &:hover {
          header {
            hr {
              @include hr-hover;
            }
          }
          .icon {
            background-color: $active_color;
          }
        }
      }
    }

    &#why_us {
      article {
        padding: 60px 40px;
        header {
          margin-bottom: 40px;
          h2 {
            font-size: 2.4rem;
            color: #ffffff;
            text-transform: uppercase;
            text-shadow: 1px 1px rgba(0,0,0,.1);
          }
          hr {
            //@include hr
          }
        }
        .body {
          .row {
            margin: 45px 0 0;

            .row {
              margin: 0 0 30px;
              &:nth-child(odd) {
                margin-left: -15px;
                margin-right: 15px;
              }
              .icon {
                background-color: #fff;
                width: 100%;
                height: auto;
                padding: 15px;
                img {
                  width: 100%;
                }
              }
              h3 {
                //@include h3;
                margin-bottom: 10px;
              }
            }
          }
        }
        &:hover {
          hr {
            @include hr-hover;
          }
        }
      }
    }

    &#what_we_do {
      padding: 75px 0;
      .container {
        header {
          margin-bottom: 75px;
          h2 {
            //@include h2;
            margin-bottom: 15px;
            text-align: center;
          }
          hr {
            //@include hr;
            margin: auto;
          }
        }

        .body.row {
          article {
            margin-bottom: 30px;
            header {
              margin-bottom: 10px;
              .icon {
                display: inline-block;
                background-color: #555555;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                margin-right: 15px;
                padding: 12px;
                img {
                  width: 100%;
                }
              }
              h3 {
                //@include h3;
                display: inline-block;
              }
            }

            &:hover {
              header {
                .icon {
                  background-color: $active_color;
                }
                h3 {
                  color: #000000;
                }

              }
            }
          }
        }
      }
      &:hover {
        .container {
          header {
            h2 {
              color: $active_color;
            }
            hr {
              @include hr-hover;
            }
          }
        }

      }
    }

    &#how_we_work {
      padding: 85px 0;
      .container {
        .wrap {
          background-color: #e0e0e0;
          width: 75%;
          padding: 45px 40px;
          header {
            margin-bottom: 25px;
            h2 {
              //@include h2;
            }
            hr {
              //@include hr;
            }
          }
          .body {
            ul {
              margin: 30px 0 0;
              padding: 0;
              list-style-type: none;

              li {
                vertical-align: middle;
                margin: 0;
                &::before {
                  content: '\2713';
                  font-size: 2rem;
                  font-weight: 900;
                  width: 36px;
                  height: 36px;
                  padding: 3px 10px;
                  margin-right: 10px;
                  border-radius: 50%;
                  background-color: #fff;
                  color: #000000;
                }
                h3 {
                  //@include h3;
                  height: 36px;
                  line-height: 36px;
                }
                p {
                  margin-left: 46px;
                }

                &:hover {
                  &::before {
                    background-color: $active_color;
                    color: #ffffff;
                  }
                  h3 {
                    color: $active_color;
                  }
                }
              }
            }
          }

          &:hover {
            header {
              h2 {
                color: $active_color;
              }
              hr {
                @include hr-hover;
              }
            }
          }
        }
      }
    }

    &#our_team {
      .container {
        header {
          h2 {
            //@include h2;
            color: $active_color !important;
          }
        }
        .body.row {
          article.member_of_team {
            position: relative;
            background-color: #e0e0e0;
            padding: 20px 30px;
            .img {
              width: 155px;
              height: 180px;
              padding: 10px;
              position: absolute;
              top: -20px;
              left: 48px;
              img.person {
                object-fit: contain;
                background-color: #b0b0b0;
              }

              p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}



footer.container-fluid {
  background-color: #202020;
  color: #cccccc;
  padding: 30px 0 !important;

  .container {
    .row {

      h3 {
        margin-bottom: 20px;
        i, span {
          font-size: 1.8rem;
        }
        i {
          display: inline-block;
          margin-right: 10px;
        }
      }
      h4 {
        font-size: 1.6rem;
        font-weight: normal;
        margin-top: 15px;
      }
      p {
        font-size: 1.4rem;
        color: #999;
      }
      time {
        font-size: 1.2rem;
        color: darkred;
      }

      article {
        padding: 0 15px !important;
        .post {
          margin: 0 0 15px;
          img {
            display:block;
            padding-right: 10px !important;
            width: 100%;
          }
          h4 {
            margin-top: 0;
          }
          p {
            margin-bottom: 5px;
          }
          span {
            font-size: 1.2rem;
          }
        }
        .accordion {
          .card {
            background: none;
            border-bottom: 1px solid #cccccc;
            .card-header {
                h4 {
                  margin-top: 5px;
                  button {
                    color: #cccccc;
                    font-size: 1.6rem;
                    &:hover {
                      font-weight: bold;
                    }
                    &.btn:focus {
                      box-shadow: none;
                      font-weight: bold;
                    }
                  }
                }
            }
            .collapse {
              p.card-body {
                line-height: 1.1;
              }
            }
          }
        }
        form {
          width: 100%;
          input, textarea {
            width: 100%;
            padding: 10px !important;
            font-size: 1.4rem;
            margin-bottom: 10px;
          }
          textarea {
            resize: y;
            height: 100px;
          }
          button {
            font-size: 1.6rem;
            padding: 5px 10px !important;
            color: #ccc;
            margin-top: 25px;
          }
        }
      }
    }
  }
  .info.container-fluid {
    margin-top: 30px;
    background-color: #000;
    padding: 15px !important;
    .container {
      margin: auto;
      div {
        font-size: 1.3rem;
      }

    }
  }

}